
@import 'animation';



/*
 * Main Styling
 *
 */
.bttn-play {
  position: relative;
  margin: 0 auto 20px auto;
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;

  @include styleParamInsert('transition', background-color 0.5s ease-out);
}
.bttn-play:hover {
  background-color: #ef6600;
}

.bttn-play .mc-pixel {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 50%;
  left: 50%;
}
.bttn-play .icon {
  position: absolute;
  top: -8px;
  left: -8px;
  width: 16px;
  height: 16px;
  background-size: contain;
}
.bttn-play .icon.play {
  background-image: url(img/icons/icon-play.png);
}
.bttn-play .icon.pause {
  width: 200px;
  height: 200px;
  left: -100px;
  top: -100px;
  background-image: url(img/icons/icon-pause.png);
  opacity: 0;
}

/* pause mode */

.bttn-play.state-pause {
  background-color: #ef6600;
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
  transform: scale3d(1.2, 1.2, 1.2);
}
.bttn-play.state-pause .icon.play {
  -webkit-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
  opacity: 0;
}
.bttn-play.state-pause .icon.pause {
  -webkit-transform: scale3d(0.1, 0.1, 0.1);
  transform: scale3d(0.1, 0.1, 0.1);
  opacity: 1;
}




/* Button Base animations */

$bttnBaseDefaultScale: scale3d(1, 1, 1);
$bttnBaseActiveScale: scale3d(1.2, 1.2, 1.2);

@include animationFullCreator((
  name: 'bttnBaseZoomOut',
  duration: 0.4s,
  animation: (
    '0': (transform: scale3d(1, 1, 1)),
    '85': (transform: scale3d(1.3, 1.3, 1.3)),
    '100': (transform: scale3d(1.2, 1.2, 1.2))
  )
));

@include animationFullCreator((
  name: 'bttnBaseZoomIn',
  duration: 0.5s,
  animation: (
    '0': (transform: scale3d(1.2, 1.2, 1.2)),
    '100': (transform: scale3d(1, 1, 1))
  )
));

@include animationFullCreator((
  name: 'bttnBasePulseIn',
  duration: 0.6s,
  animation: (
    '40': (transform: scale3d(1.2, 1.2, 1.2)),
    '85': (transform: scale3d(1.1, 1.1, 1.1)),
    '100': (transform: scale3d(1.2, 1.2, 1.2))
  )
));

@include animationFullCreator((
  name: 'bttnBasePulseOut',
  duration: 0.6s,
  animation: (
    '70': (transform: scale3d(1.2, 1.2, 1.2)),
    '85': (transform: scale3d(1.3, 1.3, 1.3)),
    '100': (transform: scale3d(1.2, 1.2, 1.2))
  )
));

/* Button Play animations */

$iconPlayDefaultScale: scale3d(1, 1, 1);
$iconPlayActiveScale: scale3d(0, 0, 0);

@include animationFullCreator((
  name: 'zoomOutBig',
  duration: 0.4s,
  animation: (
    '0': (transform: $iconPlayDefaultScale),
    '100': (
      transform: $iconPlayActiveScale,
      opacity: 0
    )
  )
));

@include animationFullCreator((
  name: 'zoomInBig',
  duration: 0.6s,
  animation: (
    '50': (transform: $iconPlayActiveScale),
    '100': (
      transform: $iconPlayDefaultScale,
      opacity: 1
    )
  )
));

/* Button Pause animations */

$iconPauseDefaultScale: scale3d(1, 1, 1);
$iconPauseActiveScale: scale3d(0.1, 0.1, 0.1);

@include animationFullCreator((
  name: 'pauseBigZoomIn',
  duration: 0.6s,
  animation: (
    '50': (
      transform: $iconPauseDefaultScale,
      opacity: 0
    ),
    '100': (
      transform: $iconPauseActiveScale,
      opacity: 1
    )
  )
));

@include animationFullCreator((
  name: 'pauseBigZoomOut',
  duration: 0.6s,
  animation: (
    '50': (
      transform: $iconPauseActiveScale,
      opacity: 1
    ),
    '100': (
      transform: $iconPauseDefaultScale,
      opacity: 0
    )
  )
));


