/*
 * Creates both the Keyframe Creator
 * AND keyframe class
 *
 *
 *

EXAMPLE 1

Desc:
TO create the keyframes and class separately

Code:
$bttnBaseZoomOutName: 'bttnBaseZoomOut';
$bttnBaseZoomOut: (
  '0': (transform: scale3d(1.2, 1.2, 1.2)),
  '85': (transform: scale3d(1.3, 1.3, 1.3)),
  '100': (transform: scale3d(1.2, 1.2, 1.2))
);
@include keyframeCreator($bttnBaseZoomOutName, $bttnBaseZoomOut);
@include keyframeClassCreator($bttnBaseZoomOutName, 0.4s);


EXAMPLE 2

Desc:
TO create the keyframes and class in 1 mixin

Code:
@include animationFullCreator((
  name: 'bttnBaseZoomOut',
  duration: 0.4s,
  animation: (
    '0': (transform: scale3d(1.2, 1.2, 1.2)),
    '85': (transform: scale3d(1.3, 1.3, 1.3)),
    '100': (transform: scale3d(1.2, 1.2, 1.2))
  )
));

 *
 *
 */
/*
 * Create the keyframe CSS
 *
 *
 */
/*
 * Create the animation class to initiate
 * the keyframe animations
 *
 *
 */
.bttn-play-other {
  position: relative;
  margin: 0 auto 40px auto;
  width: 50px;
  height: 50px;
  background: #115599;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -ms-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out; }

.bttn-play-other:hover {
  background-color: #447799; }

.bttn-play-other .mc-pixel {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 50%;
  left: 50%; }

.bttn-play-other .icon {
  position: absolute;
  top: -8px;
  left: -8px;
  width: 16px;
  height: 16px;
  background-size: contain; }

.bttn-play-other .icon.play {
  background-image: url(img/icons/icon-play.png); }

.bttn-play-other .icon.pause {
  width: 200px;
  height: 200px;
  left: -100px;
  top: -100px;
  background-image: url(img/icons/icon-pause.png);
  opacity: 0; }

/* pause mode */
.bttn-play-other.state-pause {
  background-color: #ef6600;
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
  transform: scale3d(1.2, 1.2, 1.2); }

.bttn-play-other.state-pause .icon.play {
  -webkit-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
  opacity: 0; }

.bttn-play-other.state-pause .icon.pause {
  -webkit-transform: scale3d(0.1, 0.1, 0.1);
  transform: scale3d(0.1, 0.1, 0.1);
  opacity: 1; }

/* Button Base animations */
@-webkit-keyframes bttnBaseZoomOut {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  70% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3); }
  100% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4); } }
@keyframes bttnBaseZoomOut {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  70% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3); }
  100% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4); } }
.bttnBaseZoomOut {
  -webkit-animation-name: bttnBaseZoomOut;
  -moz-animation-name: bttnBaseZoomOut;
  -ms-animation-name: bttnBaseZoomOut;
  -o-animation-name: bttnBaseZoomOut;
  animation-name: bttnBaseZoomOut;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  -ms-animation-duration: 0.4s;
  -o-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes bttnBaseZoomIn {
  0% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes bttnBaseZoomIn {
  0% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.bttnBaseZoomIn {
  -webkit-animation-name: bttnBaseZoomIn;
  -moz-animation-name: bttnBaseZoomIn;
  -ms-animation-name: bttnBaseZoomIn;
  -o-animation-name: bttnBaseZoomIn;
  animation-name: bttnBaseZoomIn;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes bttnBasePulseIn {
  40% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4); }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  100% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4); } }
@keyframes bttnBasePulseIn {
  40% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4); }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  100% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4); } }
.bttnBasePulseIn {
  -webkit-animation-name: bttnBasePulseIn;
  -moz-animation-name: bttnBasePulseIn;
  -ms-animation-name: bttnBasePulseIn;
  -o-animation-name: bttnBasePulseIn;
  animation-name: bttnBasePulseIn;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes bttnBasePulseOut {
  70% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4); }
  85% {
    -webkit-transform: scale3d(1.6, 1.6, 1.6);
    transform: scale3d(1.6, 1.6, 1.6); }
  100% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4); } }
@keyframes bttnBasePulseOut {
  70% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4); }
  85% {
    -webkit-transform: scale3d(1.6, 1.6, 1.6);
    transform: scale3d(1.6, 1.6, 1.6); }
  100% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4); } }
.bttnBasePulseOut {
  -webkit-animation-name: bttnBasePulseOut;
  -moz-animation-name: bttnBasePulseOut;
  -ms-animation-name: bttnBasePulseOut;
  -o-animation-name: bttnBasePulseOut;
  animation-name: bttnBasePulseOut;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

/* Button Play animations */
@-webkit-keyframes zoomOutBig {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  100% {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-opacity: 0;
    opacity: 0; } }
@keyframes zoomOutBig {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  100% {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-opacity: 0;
    opacity: 0; } }
.zoomOutBig {
  -webkit-animation-name: zoomOutBig;
  -moz-animation-name: zoomOutBig;
  -ms-animation-name: zoomOutBig;
  -o-animation-name: zoomOutBig;
  animation-name: zoomOutBig;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  -ms-animation-duration: 0.4s;
  -o-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes zoomInBig {
  50% {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-opacity: 1;
    opacity: 1; } }
@keyframes zoomInBig {
  50% {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-opacity: 1;
    opacity: 1; } }
.zoomInBig {
  -webkit-animation-name: zoomInBig;
  -moz-animation-name: zoomInBig;
  -ms-animation-name: zoomInBig;
  -o-animation-name: zoomInBig;
  animation-name: zoomInBig;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

/* Button Pause animations */
@-webkit-keyframes pauseBigZoomIn {
  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-opacity: 0;
    opacity: 0; }
  100% {
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
    transform: scale3d(0.1, 0.1, 0.1);
    -webkit-opacity: 1;
    opacity: 1; } }
@keyframes pauseBigZoomIn {
  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-opacity: 0;
    opacity: 0; }
  100% {
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
    transform: scale3d(0.1, 0.1, 0.1);
    -webkit-opacity: 1;
    opacity: 1; } }
.pauseBigZoomIn {
  -webkit-animation-name: pauseBigZoomIn;
  -moz-animation-name: pauseBigZoomIn;
  -ms-animation-name: pauseBigZoomIn;
  -o-animation-name: pauseBigZoomIn;
  animation-name: pauseBigZoomIn;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes pauseBigZoomOut {
  50% {
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
    transform: scale3d(0.1, 0.1, 0.1);
    -webkit-opacity: 1;
    opacity: 1; }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-opacity: 0;
    opacity: 0; } }
@keyframes pauseBigZoomOut {
  50% {
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
    transform: scale3d(0.1, 0.1, 0.1);
    -webkit-opacity: 1;
    opacity: 1; }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-opacity: 0;
    opacity: 0; } }
.pauseBigZoomOut {
  -webkit-animation-name: pauseBigZoomOut;
  -moz-animation-name: pauseBigZoomOut;
  -ms-animation-name: pauseBigZoomOut;
  -o-animation-name: pauseBigZoomOut;
  animation-name: pauseBigZoomOut;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }
